{% load i18n %}
<div class="x-tweet-votes flex items-center gap-0.5" id="votes-pulse_comment-{{ comment.id }}"{% if hx_swap_oob %} hx-swap-oob="true"{% endif %}>
  {% if user.is_authenticated and comment.user != user %}
  <form method="post" action="{% url 'comments:vote' %}" class="inline"
        hx-post="{% url 'comments:vote' %}"
        hx-target="#forum-vote-preview-pulse_comment-{{ comment.id }}"
        hx-swap="outerHTML">
    {% csrf_token %}
    <input type="hidden" name="target_type" value="pulse_comment">
    <input type="hidden" name="target_id" value="{{ comment.id }}">
    <input type="hidden" name="value" value="1">
    <input type="hidden" name="layout" value="forum">
    <button type="submit"
            class="x-tweet-action x-tweet-action--like {% if comment_vote == 1 %}is-active{% endif %}"
            title="{% trans 'Like' %}" aria-label="{% trans 'Like' %}">
      {% include "comments/partials/vote_thumb_icon.html" with direction="up" class="h-[18px] w-[18px]" %}
    </button>
  </form>
  <form method="post" action="{% url 'comments:vote' %}" class="inline"
        hx-post="{% url 'comments:vote' %}"
        hx-target="#forum-vote-preview-pulse_comment-{{ comment.id }}"
        hx-swap="outerHTML">
    {% csrf_token %}
    <input type="hidden" name="target_type" value="pulse_comment">
    <input type="hidden" name="target_id" value="{{ comment.id }}">
    <input type="hidden" name="value" value="-1">
    <input type="hidden" name="layout" value="forum">
    <button type="submit"
            class="x-tweet-action x-tweet-action--dislike {% if comment_vote == -1 %}is-active{% endif %}"
            title="{% trans 'Dislike' %}" aria-label="{% trans 'Dislike' %}">
      {% include "comments/partials/vote_thumb_icon.html" with direction="down" class="h-[18px] w-[18px]" %}
    </button>
  </form>
  {% elif user.is_authenticated %}
  <span class="x-tweet-action x-tweet-action--like is-disabled" title="{% trans "You can't vote on your own comment" %}">
    {% include "comments/partials/vote_thumb_icon.html" with direction="up" class="h-[18px] w-[18px]" %}
  </span>
  <span class="x-tweet-action x-tweet-action--dislike is-disabled">
    {% include "comments/partials/vote_thumb_icon.html" with direction="down" class="h-[18px] w-[18px]" %}
  </span>
  {% else %}
  <a href="{% url 'accounts:login' %}?next={{ request.path }}"
     class="x-tweet-action x-tweet-action--like"
     title="{% trans 'Log in to like' %}">
    {% include "comments/partials/vote_thumb_icon.html" with direction="up" class="h-[18px] w-[18px]" %}
  </a>
  <a href="{% url 'accounts:login' %}?next={{ request.path }}"
     class="x-tweet-action x-tweet-action--dislike"
     title="{% trans 'Log in to dislike' %}">
    {% include "comments/partials/vote_thumb_icon.html" with direction="down" class="h-[18px] w-[18px]" %}
  </a>
  {% endif %}
</div>
