{% load i18n mention_tags monetization_tags %}
{% if post.body %}
  {% if post|can_view_creator_content:user %}
<p class="x-tweet-text">{{ post.body|linkify_mentions }}</p>
  {% else %}
<div class="x-tweet-text">
  {% include "accounts/partials/subscriber_content_locked.html" with creator=post.user %}
</div>
  {% endif %}
{% endif %}

{% if post.image %}
<a href="{% url 'forum:detail' post_id=post.id %}" class="x-tweet-media" onclick="event.stopPropagation()">
  <img src="{{ post.image.url }}" alt="" class="{% if embedded %}max-h-64{% else %}max-h-96{% endif %}">
</a>
{% endif %}

{% include "forum/partials/post_poll.html" %}
